section{
    background-color: honeydew;
    padding-top: 120px;
    text-align: center;
}
.margin-top-2{
    margin-top: 150px;
}
.margin-top-1{
    margin-top: 75px;
}
.list-item:hover{
    background-color: palegreen;
    cursor: pointer;
}
li{
    color: teal;
}